
<footer class="footer pt-4">
  <div class="d-flex">

    <div
    class="container d-flex justify-content-between align-items-center flex-wrap gap-3"
    >
    <div class="left_foot">
      <p class="text-white fw-bold mb-1" style="font-size: 20px">RateMe</p>
      <p class="text-silver">
        Connect with others through ratings and reviews
      </p>
    </div>
    <div class="right_foot d-flex flex-wrap gap-4">
      <div>
        <p class="text-white fw-bold mb-1">Explore Users</p>
        <a href="/explore?sort=featured" class="text-silver mb-0 fs-14 text-decoration-none">Featured Users</a>
        <br>
        <a href="/explore?sort=suggested" class="text-silver mb-0 fs-14 text-decoration-none">Suggested Users</a>
      </div>
      <div>
        <p class="text-white fw-bold mb-1">Get Support</p>
        <a href="/contact" class="text-silver mb-0 fs-14 text-decoration-none">Contact Us</a>
      </div>
      <div>
      </div>
    </div>
  </div>
  </div>
  <p class="text-white fw-light mt-4 text-center mb-0">
    Copyright &copy; RateMe | All rights reserved
  </p>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="index.js"></script>
</body>
</html>
