<%- include('./_navbar.ejs'); %>
<div class="signup_container py-5 container-fluid">
  <div class="contact-container col-md-9 mx-auto p-3">
    <h1 class="text-white text-center">Contact Us</h1>
    <div class="d-flex m-2 justify-content-between align-items-center mt-4">
      <div class="d-flex flex-column gap-2">
        <div class="d-flex align-items-center gap-3 fs-4">
          <i class="fa-solid fa-envelope text-white"></i>
          <p class="text-white mb-0">yungsaber1@hotmail.com</p>
        </div>
        <div class="d-flex align-items-center gap-3 mt-3 fs-4">
          <i class="fa-solid fa-phone text-white"></i>
          <p class="text-white mb-0">+1294812393</p>
        </div>
        <div class="d-flex align-items-center gap-3 mt-3 fs-4">
          <i class="fa-solid fa-location-dot text-white"></i>
          <p class="text-white mb-0">931 street, London</p>
        </div>
      </div>
      <div class="contact-map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d317716.6065035931!2d-0.43124885956926756!3d51.52860700576551!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondon%2C%20UK!5e0!3m2!1sen!2s!4v1713991477809!5m2!1sen!2s"
          width="400"
          height="300"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </div>
</div>

<%- include('./_footer.ejs'); %>
